
main {
    margin-top: 25px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    transition: .3s;
}
a:hover,
a:focus {
    text-decoration: none;
}
.logo {
    margin-bottom: 25px;
}

.download-app {
    overflow: hidden;
}
.download-app a {
    background: #222334;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    border-radius: 5px;
    margin-bottom: 25px;
    width: 200px;
}
.download-app a img {
    margin-right: 20px;
}
.download-app a b {
    font-size: 18px;
    display: block;
}

.social-links {
    overflow: hidden;
    margin-top: 20px;
}
.social-links ul li {
    margin-bottom: 20px;
}

.follow-btn {
    font-size: 18px;
    font-weight: 700;
    padding: 13px 36px;
    background: #22B14F;
    display: inline-block;
    margin: 10px 0 60px;
    color: #fff;
    border-radius: 5px;
}
.follow-btn:hover {
    background: #03A2E6;
    color: #fff;
}

.main-nav ul li a {
    font-size: 18px;
    font-weight: 700;
    color: #222334;
}
.main-nav ul li {
    position: relative;
    margin-bottom: 15px;
}
.main-nav ul li::after {
    position: absolute;
    content: '';
    bottom: -5px;
    width: 170px;
    height: 2px;
    background: #222334;
    left: 0;
}
.main-nav ul li:last-child::after {
    height: 0;
}


.main-content p {
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: .26px;
    color: #222334;
    padding-top: 200px;
}




.right-sidebar {
    width: 380px;
    height: 670px;
    background-image: url('../img/mobile-frame.png');
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-header h2 {
    font-weight: 700;
    font-size: 44px;
    color: #fff;
}

.mobile-header h4 {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

.mobile-header {
    background: #222334;
    padding: 10px;
    border-radius: 5px;
}

.action-btn {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}
.action-btn a {
    font-size: 14px;
    font-weight: 700;
    padding: 5px 10px;
    text-align: center;
    background: #22B14F;
    border-radius: 12px;
    margin: 0 5px;
    color: #fff;
    display: inline-block;
}
.action-btn a:hover {
    background: #03A2E6;
}
.video-content {
    background: #222334;
    border-radius: 4px;
    text-align: center;
    padding: 98px 0;
    margin-bottom: 30px;
}
.play-btn img {
    display: block;
    text-align: center;
    margin: auto;
}
.play-btn {
    font-size: 13px;
    font-weight: 700;
    color: #fff;
}

footer.footer {
    padding: 18px 0;
    background: #3A3C54;
}
footer.footer a {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}